openobfuscator-origin.syntaxlua.xyz {
    encode zstd gzip
    reverse_proxy 127.0.0.1:8788

    header {
        -Server
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
        Cache-Control "no-store"
    }

    log {
        output file /var/log/caddy/openobfuscator-origin-access.log {
            roll_size 10MiB
            roll_keep 3
        }
        format filter {
            request>headers>Cf-Connecting-Ip delete
            request>headers>Cf-Connecting-Ipv6 delete
            request>headers>Cf-Pseudo-Ipv4 delete
            request>headers>True-Client-Ip delete
            request>headers>X-Forwarded-For delete
            request>headers>X-Real-Ip delete
            request>headers>X-Client-Ip delete
            request>headers>X-Client-Id delete
            wrap json
        }
    }
}
